/*=================
header
=================*/
.language {
  margin-left: auto;
  margin-right: 0; }

.logo {
  padding: 110px 0 53.1px 0;
  text-align: center; }

.nav-menu {
  margin: 0;
  text-align: center; }

/*=================
END header
=================*/
