 @font-face {
    font-family: 'Montserrat'; 
    src: url(../fonts/Montserrat-Black.ttf);
   }
*{
	padding: 0;
	margin: 0;
}
body{
	width: 100%;
	max-width: 1400px;
	box-sizing: border-box;
	margin:0 auto;
}
a, p{
	text-decoration: none;
	color: #343e5b;
	font:bold 14px/14px 'Montserrat', sans-serif;
	vertical-align: top;
}
header{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #ffffff;
	width: 1400px;
	height: 90px;
	margin: 0 auto;
	border-bottom: 1px solid #e3e8f0;
	padding: 38px 0;
	box-sizing: border-box;
}
.logo{
	display: inline-block;
	padding-left: 115px;
	padding-right:200px;

}
.main-menu{
	display: inline-block;
	vertical-align: top;
	padding-right: 170px;
}
.main-menu li{
	display: inline-block;
}
.main-menu_item{
	padding-right: 30px;
}
.main-menu_item:hover{
	 color:#b9bed1;
}
.shopping-cart{
	vertical-align: top;
	padding-right: 10px;
}
.shopping-cart img{
	vertical-align: top;
}
.cart{
	border-radius: 12px;
	background-color: #e3e8f0;
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-top: -5px;
	margin-left: 10px;
}
.cart p{
	padding: 5px;
}
button{
	text-decoration: none;
	color: #343e5b;
	font:bold 14px/14px 'Montserrat', sans-serif;
	vertical-align: top;
	box-sizing: border-box;
	background-color: transparent;
	border-radius: 16px;
	border:2px solid #e3e8f0;
	width: 81px;
	height: 28px;
	margin-top: -5px;
	margin-left: 30px;
	outline: none;
}
button a{
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px;
}
.quick-access-menu{
	width: 1400px;
	height: 56px;
	box-sizing: border-box;
}
.quick-access-menu .main-menu{
	padding-left:100px;
	padding-right:300px;
}
.quick-access-menu a{
	color:  #b9bed1;
	font:bold 12px/12px 'Montsserrat', sans-serif;
	text-transform: uppercase;
	padding-right: 30px;
	padding: 24px;
	display: inline-block;
}
.quick-access-menu a:hover{
	color:#343e5b;
}
.search{
	border-left:2px solid #e3e8f0;
	border-right:2px solid #e3e8f0;
	width: 200px;
	height: 56px;
	display: inline-block;
	box-sizing: border-box;
}
.search_link{
	display: inline-block;
}
.search_link img{
	display: inline-block;
}
.search_form{
	display: inline-block;
	border: none;
	color:#a1a8be;
	font:bold 14px/24px 'Montserrat', sans-serif;
	width: 115px;
	margin-top: 18px;
	outline:none;
}
.block-content{
	width: 1400px;
	height: 500px;
	background-position: cover;
	box-sizing: border-box;
	position: relative;
}
.block-content_title{
	font:900 42px/42px 'Montserrat', sans-serif;
	color: #ffffff;
	position: absolute;
	top:100px;
	left:215px;
}
.block-content_description{
	font:normal 16px/24px serif;
	color: #fff;
	top:220px;
	left:215px;
	position: absolute;
}
.block-content_button{
	border-radius: 21px;
	background-color: #2754eb;
	border: none;
	width: 165px;
	height: 42px;
	position: absolute;
	left: 215px;
	top:350px;
	outline: none;
}
.block-content_button a{
	display: block;
	width: 100%;
	height: 100%;
	padding: 15px 0;
	text-transform: uppercase;
	color:#fff;
}
.block-content_button:hover{
	box-shadow: 10px 17px 40px 0px rgba(168, 173, 187, 0.62);
}
