.trs(@property: all, @time: 0.3s) {
  -webkit-transition: @property @time;
     -moz-transition: @property @time;
       -o-transition: @property @time;
          transition: @property @time;
}
.row{
	margin-top: 10%;
}
p{
	z-index: 5;
	color:#fff;
	font: 400 18px/26px sans-serif;
	margin-bottom: 50px;
}
a{
	z-index: 5;
	color:#fff;
	font: 700 20px/26px sans-serif;
	border: 2px solid #fff;
	padding: 10px;
	text-decoration: none;
	vertical-align: top;
	&:hover{
		text-decoration: none;
		background-color: #fff;
		color:#000;
		.trs(all, 1s);

	};
}
.wrap{
		position: absolute;
		top: 0;
		left: 0;	
		overflow: hidden;
		z-index: 5;
		width: 100%;
		height: 100%;
		background-position: 100% 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding:50px;
		opacity: 0;


			&:hover{
			background-color: rgba(0,0,0,.5);
			outline: 1px solid rgba(255,255,255,0.8);
			outline-offset: -50px;
			opacity: 1;
				a{
					background-color: #fff;
					color:#000;
					.trs(all,1s);
				}
				

	
		.trs(all,1s);
		};
};

	

.block{
	position: relative;
	width: 100%;
	height: 300px;
	
	text-align: center;
	overflow: hidden;
	
 	img{
		width: 100%;
		height: 100%;
		z-index: 0;
		moz-transition: all 1s ease-out;
		-o-transition: all 1s ease-out;
		-webkit-transition: all 1s ease-out;
		 &:hover{
 			-webkit-transform: scale(1.1);
			 -moz-transform: scale(1.1);
			 -o-transform: scale(1.1);
 		};
		
	};	
	

}

