/*Переменные*/

@main-font: 'Neucha',
sans-serif;
@main-color: #000;
@decor-color: #babaa8;


/*Общие настройки*/

html {
    width: 100%;
    height: 100%;
    cursor: default;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

p {
    padding: 0;
}

body {
    margin: 0 auto;

    width: 100vw;
    font-size: 10px;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: @main-color;
    &:hover {
        text-decoration: none;
        color: @decor-color;
    }
}

.col-md-3,
.col-md-9 {
    padding: 0;
}



/*Кастомные настройки*/

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


.sidebar {
    background-color: #0e0f10;

    height: auto;
    text-align: center;
    padding: 4rem 7rem 0;
    .logo {
        display: block;
        width: 135px;
        height: 46px;
        text-align: left;
        margin-bottom: 5rem;
        img {}
    }
    .food-menu {
        text-align: left;

        .food-item {
            a {
                color: #747474;
                font: 400 2.1rem/4.2rem @main-font;
                &:hover {
                    color: #fff;
                }
                ;
            }
        }
    }
}


header {
    padding: 0rem 6rem;
    margin-bottom: 5rem;
    .main-menu {
        .menu-item {
            list-style-type: none;
            font: 1.8rem/2.5rem @main-font;
            display: inline-block;
            margin-right: 4rem;
            padding-top: 2.5rem;
            &:hover {
                color: @decor-color;
                border-bottom: 1px solid @decor-color;
            }
            ;
        }
    }
    .panel {



        .offer {
            display: inline-block;
            background-color: #fff;
            box-shadow: 2px 4px 27px 0px rgba(0, 0, 0, 0.07);
            padding: 0 1rem;
            text-align: left;

            p {
                font: 400 1.4rem/2.5rem @main-font;
                color: #000000;
                img {

                    padding-right: 1rem;
                }
                span {
                    vertical-align: middle;
                    width: 1px;
                    height: 4rem;
                    margin-right: 2rem;
                    display: inline-block;
                    background-color: rgba(196, 198, 195, 0.3);

                    padding: 0;
                }
            }
        }
    }
}






/* Footer
-----------------------------------------------------------------------------*/

footer {
    background-color: #f9f9f6;

    height: auto;
    width: 100%;
    .sidebar-block {
        background-color: #18191b;
        height: 28rem;
        width: 100%;
        padding-top: 11rem;
        .btn {
            border: 2px solid #fff;
            font: 400 2rem/5.8rem @main-font;
            color: #fff;
            text-transform: uppercase;
            width: 19.1rem;
            height: 5.8rem;
            transition: all 0.5s;
            display: block;
            text-align: center;
            margin: 0 auto;
            text-decoration: none;
            &:hover {
                color: #18191b;
                background-color: #fff;
                text-decoration: none;
            }
            ;
        }
    }
    .footer-block {
        text-align: center;
        margin: 0 auto;
        padding: 7rem;
        margin: 0 auto;
        text-align: center;
        border-bottom: 2px solid #ededea;

        .block {
            margin: 0 auto;

            .title {
                font: 400 1.98rem/2rem @main-font;
                text-align: left;
                color: #0e0f10;
                text-transform: uppercase;
            }
            ;
            p {

                font: 400 1.4rem/1.7rem @main-font;

                color: #878787;

                text-align: left;
            }
        }
    }
    .social-links {
        text-align: left;

        .social-link {
            display: inline-block;
            text-align: left;
            padding-right: 1rem;
            a {
                display: block;
            }
        }
    }
    .copyright {
        font: 400 1.1rem/1.2rem @main-font;


        color: #0e0f10;
        text-transform: uppercase;
        display: inline-block;
        padding: 2.5rem 6.5rem;
    }
}

.underline {
    display: inline-block;
    height: 2rem;
    text-decoration-style: solid;
    border-bottom: 0.8rem solid rgb(255, 221, 103);
    margin-bottom: 1rem;
}


.wrapper {
    width: 100%;
    height: auto;
}

.main-content {
    padding: 0 5rem 1rem;
    position: relative;
    background-color: #fff;

    .row {
        margin-bottom: 8rem;
    }
    img {
        display: inline-block;
        vertical-align: top;
    }
    .info {
        display: inline-block;
        margin-left: 2rem;
        p {
            font: 400 1.7rem/2.4rem @main-font;
            color: #000;
            text-align: left;
            padding-bottom: 1rem;
            span {
                font: 400 1.7rem/2.4rem @main-font;

                color: #919292;

                text-align: left;
            }
            .circle {
                float: right;
                padding: 0.5rem 1rem;
            }
        }
    }
}

.breadcrumbs {
    font: 400 1.3rem/3.6rem @main-font;
    color: #000;
    text-align: left;
}

h2 {
    font: 400 3.6rem/3.6rem @main-font;
    color: #000000;
    text-align: left;
    padding-bottom: 4rem;
    .underline {
        display: inline-block;
        height: 3.4rem;
        text-decoration-style: solid;
        border-bottom: 0.8rem solid rgb(255, 221, 103);
        margin-bottom: 1rem;
    }
}

.box {
    background-color: #f0f0f0;
    width: 14rem;
    height: 3.9rem;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    position: relative;
}

h4 {
    font: 1.4rem/2.5rem @main-font;
    color: #000000;
    text-align: left;
    img {
        float: right;
        padding: 0.8rem 0.5rem;
        margin-left: -5rem;
    }
}

h4 span {
    float: right;
    cursor: pointer;
    padding: 0.1rem 0.5rem;
}

h3 {
    font: 400 2.2rem/3.4rem @main-font;
    color: #000;
    text-align: left;
}



.list {

    padding: 5px;
    overflow: hidden;
    margin: 0;
    z-index: 2;
    position: absolute;
    top: 3.1rem;
    left: 1rem;
    margin-left: -1.5rem;
    margin-top: 0.4rem;
    li {
        font: 400 1.3rem/2.4rem @main-font;
        color: #000000;
        text-align: left;
        z-index: 3;
        background-color: #f0f0f0;
        width: 14rem;
        padding: 0.5rem 1.5rem;
        border-bottom: 1px solid #e1e1e1;

        span {
            float: right;
            font-family: sans-serif;
        }
    }
}

.box-decor {
    z-index: 1;
    background-color: #ffdd67;
    width: 14rem;
    height: 3.8rem;
    padding: 0.5rem 1.5rem;
    margin-top: 1.1rem;
    margin-left: -1rem;
}

#wrap {
    display: inline-block;
}


.decor {
    text-align: center;
}

.row>.decor {
    margin-bottom: 1rem;
}

.col-md-6 {
    padding: 0;
}



/*MEDIA*/

@media (max-width: 990px) {

    .main-content {
        padding: 0 5rem 1rem;
        position: relative;
        background-color: #fff;

        .row {
            margin-bottom: 8rem;
        }
        img {
            display: inline-block;
            vertical-align: top;
        }
        .info {
            display: inline-block;
            margin-left: 2rem;
            p {
                font: 400 1.7rem/2.4rem @main-font;
                color: #000;
                text-align: left;
                padding-bottom: 1rem;
                span {
                    font: 400 1.7rem/2.4rem @main-font;

                    color: #919292;

                    text-align: left;
                }
                .circle {
                    float: right;
                    padding: 0.5rem 1rem;
                }
            }
        }
    }
    .sidebar {
        height: 55rem !important;
        .food-menu {
            text-align: left;

            .food-item {
                a {
                    color: #747474;
                    font: 400 1.8rem/3.2rem @main-font;
                    &:hover {
                        color: #fff;
                    }
                    ;
                }
            }
        }
    }
    .main-content {
        padding: 0 5rem 0rem;
        position: relative;
        background-color: #fff;
        text-align: center;

        .row {
            margin-bottom: 3rem;
        }
    }
    header {
        padding: 0rem;
        margin-bottom: 5rem;
        text-align: center;
        .main-menu {
            width: 100%;
            .menu-item {
                list-style-type: none;
                font: 1.8rem/2.5rem @main-font;
                display: inline-block;
                margin-right: 2rem;
                padding-top: 2.5rem;
                &:hover {
                    color: @decor-color;
                    border-bottom: 1px solid @decor-color;
                }
                ;
            }
        }
    }
}

@media (max-width: 768px) {
    .wrapper {
        /* padding: 2rem;*/
    }

    .decor {

        text-align: center;
        margin-top: 0;
    }
    footer {

        .sidebar-block {
            background-color: #18191b;
            height: 15rem;
            width: 100%;
            padding-top: 5rem;
            .btn {
                border: 2px solid #fff;
                font: 400 2rem/5.8rem @main-font;
                color: #fff;
                text-transform: uppercase;
                width: 19.1rem;
                height: 5.8rem;
                transition: all 0.5s;
                display: block;
                text-align: center;
                margin: 0 auto;
                text-decoration: none;
                &:hover {
                    color: #18191b;
                    background-color: #fff;
                    text-decoration: none;
                }
                ;
            }
        }
        .footer-block {
            text-align: center;
            margin: 0 auto;
            padding: 3rem;
            margin: 0 auto;
            text-align: center;
            border-bottom: 2px solid #ededea;
            .block {
                margin: 0 auto;

                .title {

                    text-align: center;
                }
                ;
                p {
                    padding: 0.5rem 0;

                    text-align: center;
                }
            }
        }
        .social-links {
            text-align: center;
        }
        .copyright {
            padding: 0.5rem;
        }
    }
}