<footer class="footer">
        <!-- <div class="main-wrapper"> -->
           <div class="wrap">
               <div class="copyright">
                   <span>© 2017 г.</span>  
                   <a href="#">Телепорт</a>
               </div>
               <ul class="footer-menu">
                   <li class="footer-menu__item"><a href="#">Главная  </a></li>
                   <li class="footer-menu__item"><a href="#">Услуги </a></li>
                   <li class="footer-menu__item"><a href="#">Цены</a></li>
                   <li class="footer-menu__item"><a href="#">Калькулятор </a></li>
                   <li class="footer-menu__item"><a href="#">On-line заказ  </a></li>
                   <li class="footer-menu__item"><a href="#">Сотрудничество </a></li>
                   <li class="footer-menu__item"><a href="#">Контакты</a></li>
               </ul>
           </div>
        <!-- </div> -->
    </footer>
            
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript"  src="js/script.js"></script>
    <script type="text/javascript"  src="js/jquery.sliderkit.1.9.2.pack.js"></script>
    <script type="text/javascript"  src="js/swipe_gallery.js"></script>
    <script type="text/javascript"  src="js/jquery.mobile.swipe.min.js"></script>
     <script type="text/javascript"  src="js/jquery.maskedinput.min.js"></script>
   
  <!-- <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


</body>

</html>