
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <p class="middle">© Copyright 2017
                        <br> Все права защищены</p>
                </div>
                <div class="col-md-6">
                    <p>Контакты:</p>
                    <p>Настоятель: прот. Святослав Владимирович Минаев: <a href="tel:+380677796780">0677796780</a></p>
                    <p>Клирик: прот. Анатолий Дмитриевич Римко: <a href="tel:+380675989440">0675989440</a></p>
                </div>
                <div class="col-md-4">
                    <p>Адрес:</p>
                    <p> Украина, г.Одесса,Ул. Ак. Вавилова 60, на территории ООДКВБ(вход с ул. Архитекторской)</p>
                </div>
            </div>
        </div>
    </footer>


