<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teleport</title>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="js/DeliveryCalculatorClass.js" type="text/javascript"></script>
    <script src="js/deliveryCalculator.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="sliderkit/sliderkit-core.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="sliderkit/sliderkit-demos.css" media="screen, projection" />
    <link rel="stylesheet" href="css/style.css">
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- <link rel="stylesheet" href="css/style.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script> -->
</head>

<body>
    <header class="header">
        <div class="header__info">
            <div class="wrap">
                <a href="#" title="Дешёвый эвакуатор в Москве" class="logo"><img src="images/logo.png" alt="Телепорт-Дешёвый эвакуатор в Москве"></a>
                <div class="header__contacts">
                    <div class="header__name"><img src="images/icons/clock-icon.png" alt="Работаем круглосуточно"><span>Работаем круглосуточно</span></div>
                    <div class="header__phone"><img src="images/icons/phone-icon.png" alt="+7 (495) 222-99-46"><a href="tel:+74952229946">+7 (495) 222-99-46</a></div>
                    <a class="header__callback" onclick="Zakaz_CollBack()" title="Заявка на обратный звонок">Обратный звонок</a>
                </div>
            </div>
            <div class="header-menu">
                <div class="wrap">
                    <ul class="header-menu__list">
                        <li class="header-menu__item"><a href="#">наш автопарк  </a></li>
                        <li class="header-menu__item"><a href="#"> Услуги </a></li>
                        <li class="header-menu__item"><a href="#">Цены</a></li>
                        <li class="header-menu__item"><a href="#">Калькулятор</a></li>
                        <li class="header-menu__item"><a href="#">On-line заказ</a></li>
                        <li class="header-menu__item"><a href="#">Сотрудничество </a></li>
                        <li class="header-menu__item"><a href="#">Контакты</a></li>
                    </ul>
                </div>
            </div>
               <a href="#header-menu" class="menu-link">
                            <span></span>
                        </a>
                        <div class="menu-list">
                            <ul>
                                <li><a href="#">наш автопарк       </a></li>
                                <li><a href="#">  Услуги</a></li>
                                <li><a href="#">Цены</a></li>
                                <li><a href="#" class="sign_up">Калькулятор</a>
                                <li><a href="#">On-line заказ       </a></li>
                                <li><a href="#">  Сотрудничество </a></li>
                                <li><a href="#">Контакты</a></li></li>
                            </ul>
                        </div>
        </div>
    </header>