<body>
<div class="content">

    <div class="parallax-window" data-parallax="scroll" data-image-src="img/IMG_4198.JPG">
        <div class="main-overlay"></div>
        <div class="wrapper">
            <header>
                <a href="index.html"><h1>Храм святой <br> преподобной мученицы <br> 
                великой княгини <br> Елисаветы</h1></a>
                <div class="line"></div>
                <p class="desc">Одесская Епархия
                    <br> Украинская Православная Церковь</p>
                    <p class="dec">(Храм для людей с проблемами слуха)</p>
            </header>
        </div>
        <a class="down slowly" href="#info"><i class="icon-down-open"></i></a>
    </div>


  
<partial src="_menu.html"></partial>

<div class="about-church">
    <div class="container">
            <div class="row">
            <div class="col-xs-12">
                <h2 class="wow fadeInUp" >О храме</h2>
                <img class="icon-left" src="img/IMG_3105.JPG" alt="Икона Преподобной Мученицы Великой Княгини Елисаветы">
                <p>
                    6 августа 2013г. в Одессе был открыт уникальный для Украины храм в честь Святой Преподобной Мученицы Елизаветы, в котором проводятся литургии для глухих и глухонемых людей. 
                </p>
                <p>Это единственный храм на территории всей Украины, где люди с проблемами слуха имеют возможность участвовать во всех церковных таинствах. 
                   </p>
                   <p>В храме созданы все условия для проведения таинств для таких людей. Каждые воскресные и праздничные службы проходят с сурдопереводом. Настоятель храма владеет языком жестов, что позволяет проводить исповедь и общаться с немыми и глухонемыми людьми.</p>
                   <p>Таким образом, люди имеют возможность приобщиться к цурковной жизни полноценно.</p>
                <p>Также в храме находятся две уникальные иконы - икона "Исцеление глухого" и Образ Пресвятой Богородицы "Касперовская Слышащая". </p>
            </div>
        </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <img class="wow fadeInUp" src="img/icon-1.jpg" alt="Икона - Исцеление глухого">
                    <h4>Икона "Исцеление глухого"</h4>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img class="wow fadeInUp" src="img/icon-2.jpg" alt="Образ Пресвятой Богородицы "Касперовская Слышащая"">
                    <h4>Образ Пресвятой Богородицы "Касперовская Слышащая"</h4>

                </div>
            </div>
          
            <div class="botton">
                
            
            <div class="row">
                <div class="col-xs-12">
                    <a data-toggle="modal" data-work='about-church-1' href="#about-church" class="btn-more">Подробнее</a>
                </div>
            </div> 
            
            </div>
            <div class="botton">
            <h2 class="wow fadeInUp" >Священнослужители</h2> 
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <img class="wow fadeInUp" src="img/priest.jpg" alt="Настоятель: прот. Святослав Владимирович Минаев">
                    <h4>Настоятель: прот. Святослав Владимирович Минаев</h4>
                </div>
                <div class="col-xs-12 col-md-6">
                    <img class="wow fadeInUp" src="img/priest2.JPG" alt="Клирик: прот. Анатолий Дмитриевич Римко">
                    <h4>Клирик: прот. Анатолий Дмитриевич Римко</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a data-toggle="modal" data-work='about-church-2' href="#about-church" class="btn-more">Подробнее</a>
                </div>
            </div> 
            </div>
            </div>

</div>

    
    <div class="info" id="info">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-xs-12 agenda">
                    <h2 class="wow fadeInUp">Расписание богослужений</h2>
                     <!-- <div class="row"> -->
               
             
             
                    <p><strong>Пн</strong> <strong>22.07.2017</strong><strong>8:00</strong>Молебен свт.Иоанну с акафистом </p>
                    <p><strong>Вт</strong> <strong> 22.07.2017</strong><strong>8:00</strong>Молебен свт.Иоанну с акафистом</p>
                    <p><strong>Ср</strong> <strong> 22.07.2017</strong><strong>8:00</strong>Молебен свт.Иоанну с акафистом</p>
                    <p><strong>Чт</strong> <strong> 22.07.2017</strong><strong>8:00</strong>Молебен свт.Иоанну с акафистом</p>
                    <p><strong>Пт</strong> <strong> 22.07.2017</strong><strong>8:00</strong>Молебен свт.Иоанну с акафистом</p>
                    <p><strong>Сб</strong> <strong> 22.07.2017</strong><strong>8:00</strong>Молебен свт.Иоанну с акафистом</p>
                    <p><strong>Вc</strong> <strong> 22.07.2017</strong><strong>8:00</strong>Молебен свт.Иоанну с акафистом</p>
                     </div>
                <!-- </div> -->
                <div class="col-md-offset-1 col-md-4  col-xs-12 calendar">
                <!-- <div class="row"> -->
                    <div id="calendar">
                        <h2 class="wow fadeInUp">Православный календарь:</h2>
                        <script language="JavaScript" src="http://www.canto.ru/calendar/js/js_day.php"></script>
<script language="JavaScript">
print_color_begin();    // открыть "цвет дня"
print_header();     // вывести заголовок дня
document.write("<br><br>"); // пустая строка
print_day();        // вывести календарь на сегодня
print_color_end();  // закрыть "цвет дня"
print_reads ();     // вывести указания на чтения
print_tropar();     // вывести тропарь на сегодня
print_about();      // ссылка на Месяцеслов
</script>

                    </div>
                    <!-- </div> -->
                    <div class="clear"></div>
                </div>
           
            </div>
        </div>
    </div>



<div class="parallax-window" data-parallax="scroll" data-image-src="img/bg2(2).jpg">
        <div class="main-overlay"></div>
        <div class="wrapper">
        <div class="text-block">
            <h2>Храм открыт ежедневно<br>c 9-00 до 18-00 </h2>
            <div class="line"></div>
        </div>
            
        </div>
        
    </div>



 </div>







<!-- Всплывающие окна -->
            <div class="modal fade" id="about-church" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">О храме</h4>
                  </div>
                  <div class="modal-body">
                    
                  </div>
                </div>
              </div>
            </div>

    