<main class="main">
    <div class="wrapper">
        <div class="middle">
            <div class="container">
                <div class="index_slider">
                    <div>
                        <div class="sliderkit slideshow-standard">
                            <div class="sliderkit-nav">
                                <div class="sliderkit-btn sliderkit-go-btn sliderkit-go-prev"><a href="#" title="Назад"><span></span></a></div>
                                <div class="sliderkit-btn sliderkit-go-btn sliderkit-go-next"><a href="#" title="Далее"><span></span></a></div>
                            </div>
                            <div class="sliderkit-panels">
                                <div class="sliderkit-panel">
                                    <img class="slide-desc" src="images/slider1.png" alt="Специальное предложение - эвакуатор дешево!" />
                                    <img class="slide-mobile" src="images/slider2.png" alt="Специальное предложение - эвакуатор дешево!">
                                    <span><a href="#">Лучшие предложения в Москве</a></span>
                                </div>
                                <div class="sliderkit-panel">
                                    <img class="slide-desc" src="images/slider1.png" alt="Специальное предложение - эвакуатор дешево!" />
                                    <img class="slide-mobile" src="images/slider2.png" alt="Специальное предложение - эвакуатор дешево!">
                                    <span><a href="#">Специальное предложение - эвакуатор дешево!</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="call-evacuator">
                    <div class="wrap">
                        <div class="call-evacuator__block">
                            <p class="h2">СРОЧНО ВЫЗВАTЬ ЭВАКУАТОР</p>
                            <form class="form-1 form" action="#">
                                <input type="text" placeholder="Ваше имя" name="name" class="input">
                                <input type="text" placeholder="Номер телефона" name="tel" class="input phone-number">
                                <input id="radioButton1" type="radio" name="problem" class="radio">
                                <label class="label" for="radioButton1">Блокировка руля</label>
                                <input id="radioButton2" type="radio" name="problem" class="radio">
                                <label class="label" for="radioButton2">Блокировка колес</label>
                                <p class="cost">Стоимость</p>
                                <p id="cost-price">1250 <span> руб.</span></p>
                                <a href="#modal-1" class="order-btn modal-link">оформить заказ</a>
                                <p class="time">Время ожидания <span class="time-to-wait">21 </span>мин.</p>
                                <input id="radioButton3" type="radio" class="radio">
                                <label class="label" for="radioButton3" name="problem">
                                    Я согласен на <span class="mark">обработку персональных данных</span>
                                </label>
                            </form>
                        </div>
                    </div>
                </div>
                <a href="#close" class="popup-overlay"></a>
                <div class="popup-1">
                    <form action="#" class="my-form">
                        <a href="#close" class="popup-close">&times;</a>
                        <p class="h3">Заявка отправлена! </p>
                        <p class="time">Эвакуатор приедет через ~ <span class="time-to-wait">22</span> минуты</p>
                    </form>
                </div>
                <div class="wrap">
                    <div class="services">
                        <p class="h2">УСЛУГИ ЭВАКУАТОРА В МОСКВЕ
                            <br> ДЕШЕВО, ОПЕРАТИВНО И ПРОФЕССИОНАЛЬНО!</p>
                        <p class="description">
                            Дешево вызвать эвакуатор в Москве можно в компании «Телепорт» - наши специалисты осуществляют эвакуацию автомобилей, оказавшихся в сложной дорожной ситуации. Если с вашей машиной случилась авария, вы застряли на бездорожье или попали в ДТП – просто свяжитесь с нами. Мы мгновенно отправим эвакуатор к месту происшествия, который подобран для решения вашей проблемы. Вне зависимости от того, что произошло с автомобилем и в каком состоянии он находится, наш эвакуатор дешево 24 часа в сутки окажет вам помощь: спецтехника оперативно приедет по указанному адресу, произведет погрузку поврежденного транспортного средства на борт и быстро доставит его в любую точку Москвы.
                        </p>
                    </div>
                </div>
                <div class="evacuation-services">
                    <div class="wrap">
                        <p class="h2">
                            Мы предоставляем услуги по эвакуации и перевозке
                        </p>
                        <a href="#" class="service">
                
                        <img src="images/img-1.png" alt="Эвакуация мотоциклов" title="Эвакуация мотоциклов">
                        <div class="text">
                            <span class="name">Мотоциклы</span>
                        <span class="price">от 1500 руб.</span>
                        </div>
                        </a>
                        <a href="#" class="service">
                
                        <img src="images/img-2.png" alt="Эвакуация легковых автомобилей" title="Эвакуация  легковых автомобилей">
                        <div class="text">
                            <span class="name">Легковые </span>
                            <span class="name">автомобили</span>
                            
                        <span class="price">от 1500 руб.</span>

                        </div>
                        </a>
                        <a href="#" class="service">
                
                        <img src="images/img-3.png" alt="Эвакуация кроссоверов" title="Эвакуация  кроссоверов">
                        <div class="text">
                            <span class="name">Кроссоверы</span>

                        <span class="price">от 1900 руб.</span>
                    
                        </div>
                        </a>
                        <a href="#" class="service">
                
                        <img src="images/img-4.png" alt="Эвакуация джипов" title="Эвакуация джипов">
                        <div class="text">
                            <span class="name">Джипы</span>

                        <span class="price">от 2000 руб.</span>
                    
                        </div>
                        </a>
                        <a href="#" class="service">
                
                        <img src="images/img-5.png" alt="Эвакуация микроавтобусов" title="Эвакуация микроавтобусов">
                        <div class="text">
                            <span class="name">Микроавтобусы</span>

                        <span class="price">от 2000 руб.</span>
                    
                        </div>
                        </a>
                        <a href="#" class="service">
                
                        <img src="images/img-6.png" alt="Эвакуация грузовых автомобилей до 3,5 тонны" title="Эвакуация грузовых автомобилей до 3,5 тонны">
                        <div class="text">
                            <span class="name">Грузовые </span>
                            <span class="name">автомобили до</span>
                            <span class="name"> 3,5 тонны</span>

                        <span class="price">от 2500 руб.</span>
                    
                        </div>
                        </a>
                    </div>
                </div>
                <div class="benefits">
                    <div class="wrap">
                        <p class="h2">Рассчитать стоимость эвакуации онлайн за 3 клика</p>
                        <div class="calculator-block">
                            <div class="transport-block">
                                <form action="#" class="form calc">
                                    <p class="information">Транспортное средство</p>
                             
                                    <div class="transport-block__item decor">
                                    <label><input type="radio" value="1700" name="transport" class="radio" checked><span></span>
                                    <img src="images/icons/moto-icon.png" alt="Мотоцикл">
                                    <span class="transport-block__name">Мотоцикл</span></label>
                                   

                                    
                                </div>
                                <div class="transport-block__item">
                                    <label><input type="radio" value="1700" name="transport" class="radio"><span></span>
                                    <img src="images/icons/car-icon.png" alt="Легковой автомобиль">
                                    <span class="transport-block__name">Легковой автомобиль</span>
                                    </label>
                                </div>
                                <div class="transport-block__item">
                                    <label><input type="radio" value="1900" name="transport" class="radio"><span></span>
                                    <img src="images/icons/crossover-icon.png" alt="Кроссовер">
                                    <span class="transport-block__name">Кроссовер</span>
                                    </label>
                                </div>
                                <div class="transport-block__item">
                                    <label><input type="radio" value="2000" name="transport" class="radio"><span></span>
                                    <img src="images/icons/djip-icon.png" alt="Джип">
                                    <span class="transport-block__name">Джип</span>
                                    </label>
                                </div>
                                <div class="transport-block__item">
                                    <label><input type="radio" value="2000" name="transport" class="radio"><span></span>
                                    <img src="images/icons/bus.png" alt="Микроавтобус">
                                    <span class="transport-block__name">Микроавтобус</span>
                                    </label>
                                </div>
                                <div class="transport-block__item">
                                    <label><input type="radio" value="2000" name="transport" class="radio"><span></span>
                                    <img src="images/icons/bigcar-icon.png" alt="Грузовик 
до 3.5 тонн">
                                    <span class="transport-block__name">Грузовик 
до 3.5 тонн</span></label>
                                </div>
                                </form>
                            </div>
                            <div class="additional-info">
                                <p class="information-sm">Дополнительная информация</p>
                                <p class="calc-info">Расстояние за МКАД в км</p>
                                <div id="slider">
                                    <div class="ui-slider-range ui-widget-header"></div>
                                </div>
                                <input type="text" id="amount" disabled />
                                <p class="calc-info">Колеса заблокированы?</p>
                                <select class="wheels">
                                    <option value="0">нет</option>
                                    <option value="4">да</option>
                                </select>
                                <form action="#" class="form-5 form">
                                    <input id="radioButton5" type="checkbox" name="block" class="radio" value="0">
                                    <label class="label" for="radioButton5">Руль заблокирован</label>
                                    <input id="radioButton6" type="checkbox" name="block" class="radio" value="0">
                                    <label class="label" for="radioButton6">КПП заблокирована</label>
                                </form>
                            </div>
                            <div class="price-block">
                                <p class="information-sm">Стоимость заказа</p>
                                <p class="calc-price"><span id="calc-price"></span>руб.</p>
                                <a href="#" class="btn order-calc">Заказать</a>
                                <p class="details">Диспетчер перезвонить через 30 секунд и уточнит куда подать эвакуатор</p>
                                <a class="cost" href="#">От чего зависит стоимость эвакуации?</a>
                            </div>
                        </div>
                        <p class="h2">Почему выгодно работать с нами</p>
                        <ul class="benefits__list">
                            <li class="benefits__item"><a href="#">
                                <img src="images/icons/icon-1.png" alt="Оперативность и круглосуточная работа">
                                <a href="#">Оперативность и круглосуточная работа</a>
                                </a>
                            </li>
                            <li class="benefits__item"><a href="#">
                                <img src="images/icons/icon-2.png" alt="реально Низкая стоимость">
                                <a href="#">реально Низкая стоимость</a>
                                </a>
                            </li>
                            <li class="benefits__item"><a href="#">
                                <img src="images/icons/icon-3.png" alt="Полный комплекс услуг">
                                <a href="#">Полный комплекс услуг</a>
                                </a>
                            </li>
                            <li class="benefits__item"><a href="#">
                                <img src="images/icons/icon-4.png" alt="Профессионализм и огромный опыт">
                                <a href="#">Профессионализм и огромный опыт</a>
                                </a>
                            </li>
                            <li class="benefits__item"><a href="#">
                                <img src="images/icons/icon-5.png" alt="Техническая оснащенность">
                                <a href="#">Техническая оснащенность</a>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="map">
                    <div class="wrap">
                        <div class="map-list">
                            <p class="h2">КАРТА РАЗМЕЩЕНИЯ ЭВАКУАТОРОВ</p>
                            <ul class="map-list__items">
                                <li class="map-list__item"><a href="#"> <img class="arrow" src="images/icons/right-arrow.png" alt="Стрелка вправо">Подмосковье</a></li>
                                <li class="map-list__item"><a href="#"> <img class="arrow" src="images/icons/right-arrow.png" alt="Стрелка вправо"> ЦАО</a></li>
                                <li class="map-list__item"><a href="#"> <img class="arrow" src="images/icons/right-arrow.png" alt="Стрелка вправо"> САО</a></li>
                                <li class="map-list__item"><a href="#"> <img class="arrow" src="images/icons/right-arrow.png" alt="Стрелка вправо"> СВАО</a></li>
                                <li class="map-list__item"><a href="#"> <img class="arrow" src="images/icons/right-arrow.png" alt="Стрелка вправо"> ВАО</a></li>
                                <li class="map-list__item"><a href="#"> <img class="arrow" src="images/icons/right-arrow.png" alt="Стрелка вправо"> ЮВАО</a></li>
                                <li class="map-list__item"><a href="#"> <img class="arrow" src="images/icons/right-arrow.png" alt="Стрелка вправо"> ЮАО</a></li>
                                <li class="map-list__item"><a href="#"> <img class="arrow" src="images/icons/right-arrow.png" alt="Стрелка вправо"> ЗАО</a></li>
                                <li class="map-list__item"><a href="#"> <img class="arrow" src="images/icons/right-arrow.png" alt="Стрелка вправо"> СЗАО</a></li>
                            </ul>
                        </div>
                        <div class="map-img">
                            <img src="images/map.png" alt="Карта">
                            <a class="apr" href="#" title="Эвакуатор в Апрелевке">Апрелевка</a>
                            <a class="arh" href="#" title="Эвакуатор в Архангельском">Архангельское</a>
                            <a class="bal" href="#" title="Эвакуатор в Балашихе">Балашиха</a>
                            <a class="bib dark" href="#" title="Эвакуатор в Бибирево">Бибирево</a>
                            <a class="bir dark" href="#" title="Эвакуатор в Бирюлево">Бирюлево</a>
                            <a class="brt dark" href="#" title="Эвакуатор в Братеево">Братеево</a>
                            <a class="but dark" href="#" title="Эвакуатор в Бутово">Бутово</a>
                            <a class="vesh dark" href="#" title="Эвакуатор в Вешняках">Вешняки</a>
                            <a class="vid" href="#" title="Эвакуатор в Видном">Видное</a>
                            <a class="vld dark" href="#" title="Эвакуатор во Владыкино">Владыкино</a>
                            <a class="vnk dark" href="#" title="Эвакуатор во Внуково">Внуково</a>
                            <a class="vyh dark" href="#" title="Эвакуатор в Выхино">Выхино</a>
                            <a class="gol dark" href="#" title="Эвакуатор в Гальяново">Гальяново</a>
                            <a class="dzer" href="#" title="Эвакуатор в Дзержинском">Дзержинский</a>
                            <a class="dol" href="#" title="Эвакуатор в Долгопрудном">Долгопрудный</a>
                            <a class="zhel" href="#" title="Эвакуатор в Железнодорожном">Железно-<br>дорожный</a>
                            <a class="zhul dark" href="#" title="Эвакуатор в Жулебино">Жулебино</a>
                            <a class="zvn" href="#" title="Эвакуатор в Звенигороде">Звенигород</a>
                            <a class="zln dark" href="#" title="Эвакуатор в Зеленограде">Зеленоград</a>
                            <a class="izm dark" href="#" title="Эвакуатор в Измайлово">Измайлово</a>
                            <a class="krl" href="#" title="Эвакуатор в Королеве">Королев</a>
                            <a class="kot" href="#" title="Эвакуатор в Котельниках">Котельники</a>
                            <a class="krn" href="#" title="Эвакуатор в Красногорске">Красногорск</a>
                            <a class="kryl dark" href="#" title="Эвакуатор в Крылатском">Крылатское</a>
                            <a class="lbn" href="#" title="Эвакуатор в Лобне">Лобня</a>
                            <a class="lyt" href="#" title="Эвакуатор в Лыткарино">Лыткарино</a>
                            <a class="lbr" href="#" title="Эвакуатор в Люберцах">Люберцы</a>
                            <a class="lbln dark" href="#" title="Эвакуатор в Люблино">Люблино</a>
                            <a class="mtn" href="#" title="Эвакуатор в Митино">Митино</a>
                            <a class="mtsh" href="#" title="Эвакуатор в Мытищах">Мытищи</a>
                            <a class="nvg dark" href="#" title="Эвакуатор в Новогиреево">Новогиреево</a>
                            <a class="nvp" href="#" title="Эвакуатор в Новопеределкино">Новопеределкино</a>
                            <a class="odn" href="#" title="Эвакуатор в Одинцово">Одинцово</a>
                            <a class="och dark" href="#" title="Эвакуатор в Очаково">Очаково</a>
                            <!--  <a class="pdl" href="#" title="Эвакуатор в Подольске">Подольск</a> -->
                            <a class="reu" href="#" title="Эвакуатор в Реутове">Реутов</a>
                            <a class="svb dark" href="#" title="Эвакуатор в Свиблово">Свиблово</a>
                            <a class="sln dark" href="#" title="Эвакуатор в Солнцево">Солнцево</a>
                            <a class="str dark" href="#" title="Эвакуатор в Строгино">Строгино</a>
                            <a class="shd" href="#" title="Эвакуатор в Сходне">Сходня</a>
                            <a class="tps dark" href="#" title="Эвакуатор в Теплом стане">Теплый стан</a>
                            <!--  <a class="trc" href="#" title="Эвакуатор в Троицке">Троицк</a> -->
                            <a class="tush dark" href="#" title="Эвакуатор в Тушино">Тушино</a>
                            <a class="fil dark" href="#" title="Эвакуатор в Фили">Фили</a>
                            <a class="frz" href="#" title="Эвакуатор в Фрязино">Фрязино</a>
                            <a class="him" href="#" title="Эвакуатор в Химках">Химки</a>
                            <a class="hor dark" href="#" title="Эвакуатор в Ховрино">Ховрино</a>
                            <a class="car dark" href="#" title="Эвакуатор в Царицыно">Царицыно</a>
                            <a class="cher dark" href="#" title="Эвакуатор в Черемушках">Черемушки</a>
                            <a class="chrt dark" href="#" title="Эвакуатор в Чертаново">Чертаново</a>
                            <a class="jubl" href="#" title="Эвакуатор в Юбилейном">Юбилейный</a>
                            <a class="jasn dark" href="#" title="Эвакуатор в Ясенево">Ясенево</a>
                        </div>
                    </div>
                </div>
                <div class="additional-services">
                    <div class="wrap">
                        <p class="h2">Дополнительные услуги</p>
                        <p class="description">Кроме основных работ по эвакуации, мы предоставляем такие услуги, как:</p>
                        <ul class="additional-services__list">
                            <li class="additional-services__item">
                                <img src="images/service-1.png" alt="Доролнительные услуги">
                                <div class="name-block">
                                    <span class="name">утилизация
</span>
                                    <span class="name">старых авто</span>
                                </div>
                                <p class="description-sm">Оперативно приедем и вывезем старый, сильно поврежденный или брошенный автомобиль на свалку.</p>
                            </li>
                            <li class="additional-services__item">
                                <img src="images/service-2.png" alt="Доролнительные услуги">
                                <div class="name-block">
                                    <span class="name">выкуп битых </span>
                                    <span class="name">автомобилей</span>
                                </div>
                                <p class="description-sm">Если ваша машина получила серьезные повреждения в аварии и не подлежит дальнейшей эксплуатации, мы готовы выкупить ее и вывезти с места стоянки.</p>
                            </li>
                            <li class="additional-services__item">
                                <img src="images/service-3.png" alt="Доролнительные услуги">
                                <div class="name-block">
                                    <span class="name">услуга «Трезвый </span>
                                    <span class="name">водитель»</span>
                                </div>
                                <p class="description-sm">Поможем переместить ваш автомобиль в указанное Вами место, если Вы не можете сделать это самостоятельно.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-block">
                    <div class="wrap">
                        <div class="info-block">
                            <p class="title">Гарантия</p>
                            <p class="title-sm">самой низкой цены</p>
                            <p class="call">ЗВОНИТЕ</p>
                            <a class="title" href="tel:+74952229946"> +7 (495) 222-99-46</a>
                            <p class="description-decor">И мы предложим Вам индивидуальную скидку.</p>
                            <form class="form-2 form" action="#">
                                <p class="description">Сообщите нам, если Вам предложили эвакуатор дешевле</p>
                                <input type="text" placeholder="Ваш e-mail" name="email" class="input">
                                <input type="text" placeholder="или номер телефона" name="tel" class="input phone-number">
                                <p class="description block">Мы пересчитаем и перезвоним
                                    <br>Вам в течение 2-х минут.</p>
                                <a href="#" class="btn modal-link-2">Отправить</a>
                            </form>
                        </div>
                    </div>
                </div>
                <a href="#close" class="popup-overlay"></a>
                <div class="popup-2">
                    <form action="#" class="my-form">
                        <a href="#close" class="popup-close">&times;</a>
                        <p class="h3">Заявка отправлена </p>
                        <p class="time">Оператор свяжется с Вами в течение 2-х минут</p>
                    </form>
                </div>
                <div class="evacuator-park">
                    <div class="wrap">
                        <p class="h2">НАШ ПАРК ЭВАКУАТОРОВ</p>
                        <p class="description">
                            Собственный парк спецтехники компании «Телепорт» представлен мощными, маневренными и надежными эвакуаторами отечественного и зарубежного производства. Это более 40 машин, среди которых такие известные марки, как Hyundai, Isuzu, ГАЗ, Зил и др. У нас имеются эвакуаторы с гидроманипулятором, со стационарной и подъемно-сдвижной платформой и несколько эвакуаторов с двухъярусной платформой для перевозки сразу двух автомобилей.
                        </p>
                        <div class="park">
                            <img src="images/img-7.png" alt="Стационарная платформа">
                            <a href="#" class="text">
                                <span class="name">Стационарная</span>
                            <span class="name">платформа</span>
                            </a>
                        </div>
                        <div class="park">
                            <img src="images/img-8.png" alt="Подъемно-сдвижная
платформа">
                            <a href="#" class="text">
                            <span class="name">Подъемно-сдвижная</span>
                            <span class="name">платформа</span>
                            </a>
                        </div>
                        <div class="park">
                            <img src="images/img-9.png" alt="Двухъярусная
платформа">
                            <a href="#" class="text">
                            <span class="name">Двухъярусная</span>
                            <span class="name">платформа</span>
                            </a>
                        </div>
                        <div class="park">
                            <img src="images/img-10.png" alt="Кран-манипулятор">
                            <a href="#" class="text">
                            <span class="name">Кран-манипулятор</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="sale">
                    <div class="wrap">
                        <div class="info-block">
                            <p class="sale-title">Хотите еще дешевле?</p>
                            <p class="sale-desc">РАСПЕЧАТАЙТЕ КУПОН или сообщите нам уникальный номер купона по телефону</p>
                            <a class="sale-tel" href="tel:+74952229946"> +7 (495) 222-99-46</a>
                        </div>
                        <div class="print-block">
                            <p class="price">-10 <sup><small>%</small></sup></p>
                            <a href="sale.html" class="print-btn">
                            <img src="images/icons/print.png" alt="Распечатайте купон">
                            <span>распечатать купон</span>
                        </a>
                        </div>
                    </div>
                </div>
                <div class="order-evacuator">
                    <div class="wrap">
                        <p class="h2">ЗАКАЗАТЬ ЭВАКУАТОР на определенный день</p>
                        <!-- <div class="container">
                            <form action="#" class="form">
                            </form>
                        </div> -->
                        <!-- <div class="wrap"> -->
                        <div class="tab-content">
                            <div class="tab-pane active-tab clearfix" id="step-1">
                                <form action="#" class="form-3 form">
                                    <p class="steps">шаг 1 из 3</p>
                                    <div class="model-block">
                                        <p class="tab-title">Транспортное средство</p>
                                        <input type="text" placeholder="Марка" name="mark" class="input">
                                        <input type="text" placeholder="Модель" name="model" class="input">
                                    </div>
                                    <div class="desc-block">
                                        <p class="tab-title">Наличие повреждений</p>
                                        <input id="no" type="radio" class="radio" name="damages">
                                        <label class="label" for="no">Нет</label>
                                        <!-- 
<input type="radio" id="genderChoice1"
     name="gender" value="male">
    <label for="genderChoice1">Male</label> -->
                                        <input id="yes" type="radio" class="radio" name="damages">
                                        <label class="label" for="yes">Есть</label>
                                        <input class="input" type="text" placeholder="Описание повреждений" name="damage-desc" class="input">
                                    </div>
                                    <a href="#step-2" class=" active-tab step-btn-next" data-toggle="tab">Второй шаг</a>
                                </form>
                            </div>
                            <div class="tab-pane clearfix" id="step-2">
                                <form action="#" class="form">
                                    <p class="steps">шаг 2 из 3</p>
                                    <p class="tab-title">Адрес погрузки</p>
                                    <div id="map"></div>
                                    <a href="#step-1" class="step-btn-prev" data-toggle="tab">назад</a>
                                    <a href="#step-3" class="step-btn-next" data-toggle="tab">третий шаг</a>
                                </form>
                            </div>
                            <div class="tab-pane clearfix" id="step-3">
                                <form action="#" class="form form-4">
                                    <p class="steps">шаг 3 из 3</p>
                                    <div class="order-block">
                                        <p class="tab-title">Дата эвакуации
                                        </p>
                                        <input type="text" placeholder="Дата" name="date" class="input calendar" id="datepicker">
                                    </div>
                                    <div class="order-block">
                                        <p class="tab-title">Контактные данные</p>
                                        <input type="text" placeholder="Ваше имя" name="your-name" class="input">
                                        <input id="radioButton4" type="radio" class="radio">
                                        <label class="label" for="radioButton4" name="ok">
                                            Я согласен на <span class="mark">обработку персональных данных</span>
                                        </label>
                                    </div>
                                    <div class="order-block">
                                        <input type="text" placeholder="Телефон" name="number" class="input phone-number">
                                    </div>
                                    <a href="#step-2" class="step-btn-prev" data-toggle="tab">назад</a>
                                    <a href="#" class="step-btn-next">заказать</a>
                                </form>
                            </div>
                        </div>
                        <!--  </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--     </div>
    </div> -->
</main>