footer
	div.wrapper
		div.middle
			div.copyright
				img(src='./img/footer-logo.png')
				p Copyright © 2018 Pix Wireless
			ul.social-links
				li.social-link
					a(href='#')
						img(src='./img/icons/facebook.png' alt='facebook')
				li.social-link
					a(href='#')
						img(src='./img/icons/twitter.png' alt='twitter')
				li.social-link
					a(href='#')
						img(src='./img/icons/google+.png' alt='google+')
				li.social-link
					a(href='#')
						img(src='./img/icons/insta.png' alt='insta')
				li.social-link
					a(href='#')
						img(src='./img/icons/youtube.png' alt='youtube')
	


		
	script(src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous")
	//- script(src="js/wow.min.js")
	script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js')
	script(src="js/script.js")
