header.header
	a.logo(href="#")
		img.header-logo(src='./img/logo.png' alt='PixWirelessWorld Prepaid' title='PixWirelessWorld Prepaid')
	ul.header-menu
		li.header-menu-item 
			a(href="#work-details") How it works
		li.header-menu-item 
			a(href="#roaming") Roaming
		li.header-menu-item 
			a(href="#features") Features
		li.header-menu-item 
			a(href="#testimonial") Testimonial
		li.header-menu-item 
			a(href="#faq") FAQ
	a.header-btn(href="#") Start Now
			//- div.nav-menu
			//- 	a.logo(href="index.html") #[span Одесская компания]#[h1 WINDOWS WORLD]
			//- 	div.tel-block
			//- 		a.tel(href="tel:+380994058520") #[i.fa.fa-phone] 099 405 85 20
			//- 		a.tel(href="tel:+380668396349") #[i.fa.fa-phone] 066 839 63 49

			
			a.menu-link(href="#menu")
				span
			ul.sm-header-menu
				li.header-menu-item 
					a(href="#work-details") How it works
				li.header-menu-item 
					a(href="#roaming") Roaming
				li.header-menu-item 
					a(href="#features") Features
				li.header-menu-item 
					a(href="#testimonial") Testimonial
				li.header-menu-item 
					a(href="#faq") FAQ
				li.header-menu-item
					a.header-btn(href="#") Start Now