header.header
	a.logo(href="#")
		img.header-logo(src='./img/logo.png' alt='PixWirelessWorld Prepaid' title='PixWirelessWorld Prepaid')
	ul.header-menu
		li.header-menu-item 
			a(href="#work-details") How it works
		li.header-menu-item 
			a(href="#roaming") Roaming
		li.header-menu-item 
			a(href="#features") Features
		li.header-menu-item 
			a(href="#testimonial") Testimonial
		li.header-menu-item 
			a(href="#faq") FAQ
	a.header-btn(href="#") Start Now
	
			
	a.menu-link(href="#menu")
		span