<partial src="_header.html" title="Храм Святой Преподобной мученицы Великой Княгини Елисаветы<"></partial>

<body>
    <div class="content">
        <div class="menu-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <a href="index.html"><img src="img/logo.png" alt="Храм Святой Преподобномученицы Елисаветы"></a>
                    </div>
                    <div class="col-md-9">
                        <partial src="_menu.html"></partial>

                    </div>
                </div>
            </div>
        </div>
        <div class="news">
            <div class="container">
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="gallery">
                        <div class="frame">
                                <a href="img/history/1(2).jpg" data-lightbox="roadtrip"><img class="image-sm" src="img/history/o2ARC_croper_ru-min.jpeg" alt="Фото храма"></a>
                            </div>
                            <div class="frame">
                                <a href="img/history/IMG_4150.JPG" data-lightbox="roadtrip"><img class="image-sm" src="img/history/IMG_4150-min.JPG" alt="Фото храмаФото храма"></a>
                            </div>
                            
                            <div class="frame">
                                <a href="img/history/imgonline-com-ua-Osvetlenie-nHMKEJwwZI.jpg" data-lightbox="roadtrip"><img class="image-sm" src="img/history/imgonline-com-ua-Osvetlenie-nHMKEJwwZI.jpg" alt="Фото храма"></a>
                            </div>
                            <div class="frame">
                                <a href="img/history/IMG_3165.JPG" data-lightbox="roadtrip"><img class="image-sm" src="img/history/imgonline-com-ua-Osvetlenie-RAJjEQkDOS.jpg" alt="Фото храма"></a>
                            </div>
                            <div class="frame">
                                <a href="img/history/IMG_4172.JPG" data-lightbox="roadtrip"><img class="image-sm" src="img/history/IMG_4172-min.JPG" alt="Фото храмаФото храма"></a>
                            </div>
                            <div class="frame">
                                <a href="img/history/IMG_4178.JPG" data-lightbox="roadtrip"><img class="image-sm" src="img/history/IMG_4178-min.JPG" alt="Фото храмаФото храма"></a>
                            </div>
                            <div class="frame">
                                <a href="img/history/IMG_4117.JPG" data-lightbox="roadtrip"><img class="image-sm" src="img/history/IMG_4117-min.JPG" alt="Фото храмаФото храма"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <partial src="_footer.html"></partial>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script>
    lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true,

        'alwaysShowNavOnTouchDevices': true
    })
    </script>
   <!--  <script>
    lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true,

        'alwaysShowNavOnTouchDevices': true
    })
    </script>
    <script>
    var link = $('.menu-link');
    var link_active = $('.menu-link_active');
    var menu = $('.menu-block');

    link.click(function(event) {
        link.toggleClass('menu-link_active');
        menu.toggleClass('menu-block_active');
    });
    link_active.click(function(event) {
        link_active.removeClass('menu-link_active');
    });
    </script> -->
</body>

</html>