<partial src="_header.html" title="Храм Святой Преподобной мученицы Великой Княгини Елисаветы<"></partial>


<body>
<div class="content">
   <div class="menu-wrapper">
   <div class="container">
       
   
<div class="row">
    

<div class="col-md-2">
    <a href="index.html"><img src="img/logo.png" alt="Храм Святой Преподобномученицы Елисаветы"></a>
</div>
<div class="col-md-9">
<partial src="_menu.html"></partial>

    </div>
    </div>
    </div>
</div>

  
    <div class="info-wrapper history-news" id="info-wrapper">
        <div class="container">
            <div class="row">
                <div class="info-block">
                    <h2 class="wow fadeInUp">История храма</h2>
                    <div class="col-md-12">
                        <img src="img/history/DSC_0243.JPG" alt="История храма" class="wow fadeInLeft">
                        <p>
                        04.03.2011 года по благословению Высокопреосвященнейшего Агафангела, митрополита Одесского и Измаильского была создана православная община в честь св. прмц. Елисаветы пастырское окормление, которой, было поручено иерею Святославу Минаеву. Перед духовником и общиной была поставленна задача окормление глухих и слабослышащих людей г. Одессы и области, создавая все необходимые условия для катехизации людей с нарушением слуха.</p>
<p>09.11.2011 года митрополит Агафангел совершил закладку памятной капсулы и освящение места под строительство нового храма в честь Св. прмц. Елисаветы.</p>

<p>
06.08.2013 года, в день празднования святых страстотерпцев Бориса и Глеба, митрополит Агафангел совершил освящение престола и первую Божественную Литургию в новом деревянном храме в честь Св. прмц. Елисаветы. Утвердив тем самым начало существования полноценной православной общины и храма для людей с нарушением слуха (глухих и тугоухих) г. Одессы и области.</p>
<img src="img/history/IMG_0820.JPG" alt="История храма" class="right-img wow fadeInRight">
<p>19.08.2013 года, в светлый праздник Преображения Господня, по Благословению Высокопреосвященнейшего Агафангела, митрополита Одесского и Измаильского и с помощью переводчика из г. Киева Екатерины Дятловой, в нашем храме в первые люди из мира тишины Одессы смогли в полной мере с пониманием происходящего принять участие в Богослужении.</p>


<p> В 2015 году, завершается стройка часовни – колокольни (где будет совершаться таинство исповеди для глухих людей). Начато строительство Воскресной Школы и трапезной.
                        </p>

                        <p class="source"> По материалам сайта 
                        <a href="http://eparhiya.od.ua/eparhiya/hramyi/103-hram-svyatoy-prepodobnomuchenitsyi-elisavetyi-g_odessyipastyirskaya-opeka-slaboslyishaschih-lyudey">Православная Одесса</a>
                        </p>
                    </div>
                   
                </div>
            </div>
      
    </div>
    </div>


<div class="news news-top">
      <div class="container">
      <h2 class="wow fadeInUp">Фотоотчет</h2>
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="image wow fadeInUp"><a href="history-1.html"><img src="img/history/DSC_0215.JPG" /></a></div>
            <a class="title-sm" href="history-1.html">Закладка капсулы</a>
            <p>09.11.2011 года митрополит Агафангел совершил закладку памятной капсулы и освящение места под строительство нового храма в честь Св. прмц. Елисаветы.</p>
          
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
           <div class="image wow fadeInUp"><a href="history-2.html"><img src="img/history/IMG_4117-min.JPG" /></a></div>
           <a class="title-sm" href="history-2.html">Храм сегодня </a>
          
             

          </div>
          
        </div>
      </div>
    </div>
    
   



</div>


 


   <partial src="_footer.html"></partial>


  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
   <!--   <script src="js/jquery-3.2.1.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <script src="js/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>
              <script src="js/main.js"></script>
            <!--   <script>
                  var link = $('.menu-link');
        var link_active = $('.menu-link_active');
        var menu = $('.menu-block');

        link.click(function(event) {
            link.toggleClass('menu-link_active');
            menu.toggleClass('menu-block_active');
        });
        link_active.click(function(event) {
            link_active.removeClass('menu-link_active');
        });
              </script> -->

</body>

</html>