<partial src="_header.html" title="Храм Святой Преподобной мученицы Великой Княгини Елисаветы<"></partial>
<partial src="_main.html"></partial>
<partial src="_footer.html"></partial>
<!-- Всплывающие окна -->
<div class="modal fade" id="about-church" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">О храме</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!--  <script src="js/jquery-3.2.1.min.js"></script> -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/wow.min.js"></script>
<script>
new WOW().init();
</script>
<script src="js/main.js"></script>
</body>

</html>