<partial src="_header.html" title="Храм Святой Преподобной мученицы Великой Княгини Елисаветы<"></partial>

<body>
    <div class="content">
        <div class="menu-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <a href="index.html"><img src="img/logo.png" alt="Храм Святой Преподобномученицы Елисаветы"></a>
                    </div>
                    <div class="col-md-9">
                        <partial src="_menu.html"></partial>
                    </div>
                </div>
            </div>
        </div>
        <div class="total-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wow fadeInUp">Воскресная школа для детей с проблемами слуха</h2>
                        <p class="h3">Приглашаем Ваших детей в Воскресную школу при храме Святой Преподобной мученицы Великой Княгини Елисаветы. </p>
                        <p>Основной задачей Воскресной школы при храме Святой Преподобной мученицы Великой Княгини Елисаветы является не только обучение Закону Божию, но и воспитание чувства любви к Богу и людям.</p>
                        <p>Занятия проходят с сурдопереводом, что дает возможность обучаться всем.</p>
                        <p>Занятия проводятся раз в неделю по воскресениям в 12-00.</p>
                        <div class="bold">В программу школы входит:</div>
                        <ul>
                            <li>- Закон Божий и Священное Писание.</li>
                            <li>- Катехизис.</li>
                            <li>- Жития Святых.</li>
                            <li>- История Православной Церкви.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="news">
      <div class="container">
      <h2 class="wow fadeInUp">Новости воскресной школы</h2>
      
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="image"><a href="news-school-2.html"><img src="img/1.jpg" /></a></div>
            <a class="title" href="news-school-2.html">Занятия в воскресной школе</a> -->
        <!-- <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Послушавшись имени жаренные знаках наш до продолжил пустился журчит выйти безорфографичный вершину запятых собрал.</p> -->
        <!-- </div>
          
          
        </div> -->
        <!-- <div class="pagin">

        <div class="row">
          <div class="col-xs-12">
                          
            </div>
          </div>
        </div> -->
        <!-- </div>
    </div> -->
    </div>
    <partial src="_footer.html"></partial>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script>
    new WOW().init();
    </script>
    <script src="js/main.js"></script>
    
</body>

</html>