<partial src="_header.html" title="Храм Святой Преподобной мученицы Великой Княгини Елисаветы<"></partial>


<body>
<div class="content">
   <div class="menu-wrapper">
   <div class="container">
       
   
<div class="row">
    

<div class="col-md-2">
    <a href="index.html"><img src="img/logo.png" alt="Храм Святой Преподобномученицы Елисаветы"></a>
</div>
<div class="col-md-9">
<partial src="_menu.html"></partial>

    </div>
    </div>
    </div>
</div>

   
    
 
   <div class="news">
      <div class="container">
      <h2 class="wow fadeInUp">Новости</h2>
        <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="image"><a href="news-1.html"><img src="../img/news/16.07.2017/_73O2971_324x216.jpg" /></a></div>
            <a class="title" href="news-1.html">Митрополит Агафангел совершил Божественную литургию с сурдопереводом</a>
            <p>16 июля 2017 года, Высокопреосвященнейший Агафангел, митрополит Одесский и Измаильский совершил Божественную литургию в храме в честь святой преподобномученицы великой княгини Елизаветы</p>
          
          </div>
         
        </div>
        
      </div>
    </div>
    
   
    

</div>
    <partial src="_footer.html"></partial>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <script src="js/wow.min.js"></script>
     <script>
    new WOW().init();
    </script>
    <script src="js/jquery.simplePagination.js"></script>
    <script>
      $(function() {
    $('.pagin').pagination({
        items: 30,
        itemsOnPage: 6,
        cssStyle: 'dark-theme'
    });
});
    </script>
    <script src="js/main.js"></script>
</body>

</html>