<partial src="_header.html" title="Храм Святой Преподобной мученицы Великой Княгини Елисаветы<"></partial>

<body>
<div class="content">
   <div class="menu-wrapper">
   <div class="container">
       
   
<div class="row">
    

<div class="col-md-2">
    <a href="index.html"><img src="img/logo.png" alt="Храм Святой Преподобномученицы Елисаветы"></a>
</div>
<div class="col-md-9">
<partial src="_menu.html"></partial>

    </div>
    </div>
    </div>
</div>

   
    
 
   <div class="news">
      <div class="container">
      <h3>10.09.2017г. открылась воскресная школа при храме Святой Преподобной Мученицы Великой Княгини Елисаветы</h3>
<p>10.09.2017</p>
        <div class="row">
        <div class="col-md-12">
       



          



        </div>
        </div>
        <div class="row">
         
          <div class="col-md-12">
         <div class="gallery">
           
         
          <div class="frame">
            <a href="img/school/IMG_0527-min.JPG" data-lightbox="roadtrip"><img class="image-sm" src="img/school/IMG_0527-min.JPG" alt="Воскоесная школа"></a>
          </div>

          <div class="frame">
            <a href="img/school/IMG_0552-min.JPG" data-lightbox="roadtrip"><img class="image-sm" src="img/school/IMG_0552-min.JPG" alt="Воскоесная школа"></a>
          </div>
          <div class="frame">
           <a href="img/school/IMG_0557.JPG" data-lightbox="roadtrip"><img class="image-sm" src="img/school/IMG_0557_324x243-min.jpg" alt="Воскоесная школа"></a>
          </div>
        
          <div class="frame">
           <a href="img/school/IMG_0573.JPG" data-lightbox="roadtrip"><img class="image-sm" src="img/school/IMG_0573-min.JPG" alt="Воскоесная школа"></a> 
          </div>
          
           
           
           
           
           
           
           
           </div>
      </div>
        </div>

</div>
</div>
</div>
       
  </div>
</div>
</div>
    
   
    


    <partial src="_footer.html"></partial>

  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
<script src="js/lightbox.min.js"></script>
 <script>
    lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true,

        'alwaysShowNavOnTouchDevices': true
    })
    </script>
<script src="js/main.js"></script>
</body>

</html>