<partial src="_header.html" title="Храм Святой Преподобной мученицы Великой Княгини Елисаветы<"></partial>

<body>
    <div class="content">
        <div class="menu-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <a href="index.html"><img src="img/logo.png" alt="Храм Святой Преподобномученицы Елисаветы"></a>
                    </div>
                    <div class="col-md-9">
                        <partial src="_menu.html"></partial>
                    </div>
                </div>
            </div>
        </div>
        <div class="news">
            <div class="container">
                <h3>Митрополит Агафангел совершил Божественную литургию с сурдопереводом</h3>
                <p>16.07.2017</p>
                <div class="row">
                    <div class="col-md-12">
                        <p>16 июля 2017 года, Высокопреосвященнейший Агафангел, митрополит Одесский и Измаильский совершил Божественную литургию в храме в честь святой преподобномученицы великой княгини Елизаветы в сослужении благочинного храмов Одесской епархии протоиерея Павла Полещука, благочинного храмов III-го Одесского округа протоиерея Ильи Маниты, благочинного храмов Таировского округа протоиерея Владимира Терлецкого, а также городского духовенства.</p>
                        <p>
                            Митрополит Агафангел поблагодарил о. настоятеля за усердные труды по пастырскому окормлению одесситов с нарушениями слуха и речи, а также благодетелей о попечении этого прихода, наградив архипастырскими грамотами.
                        </p>
                        <p>Затем Владыка митрополит совершил освящение часовни в честь свв. мчч. Фотинии и Валерия.</p>
                        <p class="source"> По материалам сайта
                            <a href="http://eparhiya.od.ua/sobyitiya/sobyitiya/4007-mitropolit-agafangel-sovershil-bojestvennuyu-liturgiyu-s-surdoperevodom-v-hrame-svyatoy-prepodobnomuchenitsyi-elisavetyi-g_-odessyi-video">Православная Одесса</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="gallery">
                            <div class="frame">
                                <a href="img/news/16.07.2017/_73O2971.jpg" data-lightbox="roadtrip"><img class="image-sm" src="../img/news/16.07.2017/_73O2971_324x216.jpg" alt="Фото храмаФото храма"></a>
                            </div>
                            <div class="frame">
                                <a href="img/news/16.07.2017/_73O2961.jpg" data-lightbox="roadtrip"><img class="image-sm" src="../img/news/16.07.2017/_73O2961_324x246.jpg" alt="Фото храма"></a>
                            </div>
                            <div class="frame">
                                <a href="img/news/16.07.2017/_73O3008.jpg" data-lightbox="roadtrip"><img class="image-sm" src="../img/news/16.07.2017/_73O3008_324x217.jpg" alt="Фото храма"></a>
                            </div>
                            <div class="frame">
                                <a href="img/news/16.07.2017/_73O2991.jpg" data-lightbox="roadtrip"><img class="image-sm" src="../img/news/16.07.2017/_73O2991_324x216.jpg" alt="Фото храма"></a>
                            </div>
                            <div class="frame">
                                <a href="img/news/16.07.2017/_73O3015.jpg" data-lightbox="roadtrip"><img class="image-sm" src="../img/news/16.07.2017/_73O3015_324x216.jpg" alt="Фото храма"></a>
                            </div>
                            <div class="frame">
                                <a href="img/news/16.07.2017/_73O3065.jpg" data-lightbox="roadtrip"><img class="image-sm" src="../img/news/16.07.2017/_73O3065_324x486.jpg" alt="Фото храмаФото храма"></a>
                            </div>
                            <div class="frame">
                                <a href="img/news/16.07.2017/_73O3163.jpg" data-lightbox="roadtrip"><img class="image-sm" src="../img/news/16.07.2017/_73O3163_324x216.jpg" alt="Фото храмаФото храма"></a>
                            </div>
                            <div class="frame">
                                <a href="img/news/16.07.2017/_73O3205.jpg" data-lightbox="roadtrip"><img class="image-sm" src="../img/news/16.07.2017/_73O3205_324x216.jpg" alt="Фото храмаФото храма"></a>
                            </div>
                            <div class="frame">
                                <a href="img/news/16.07.2017/_73O3316.jpg" data-lightbox="roadtrip"><img class="image-sm" src="../img/news/16.07.2017/_73O3316_324x216.jpg" alt="Фото храмаФото храма"></a>
                            </div>
                            <div class="frame">
                                <a href="img/news/16.07.2017/_73O3319.jpg" data-lightbox="roadtrip"><img class="image-sm" src="../img/news/16.07.2017/_73O3319_324x216.jpg" alt="Фото храмаФото храма"></a>
                            </div>
                            <div class="frame">
                                <a href="img/news/16.07.2017/_73O3349.jpg" data-lightbox="roadtrip"><img class="image-sm" src="../img/news/16.07.2017/_73O3349_324x216.jpg" alt="Фото храмаФото храма"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <partial src="_footer.html"></partial>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script>
    lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true,

        'alwaysShowNavOnTouchDevices': true
    })
    </script>
    <script src="js/main.js"></script>
</body>

</html>