<partial src="_header.html" title="Храм Святой Преподобной мученицы Великой Княгини Елисаветы<"></partial>


<body>
<div class="content">
   <div class="menu-wrapper">
   <div class="container">
       
   
<div class="row">
    

<div class="col-md-2">
    <a href="index.html"><img src="img/logo.png" alt="Храм Святой Преподобномученицы Елисаветы"></a>
</div>
<div class="col-md-9">
<partial src="_menu.html" ></partial>

    </div>
    </div>
    </div>
</div>

   
    
 <!-- 
   <div class="news">
      <div class="container">
      <h3>Lorem ipsum dolor.</h3>
<p>23.07.2017</p>
        <div class="row">
        <div class="col-md-12">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae culpa nesciunt unde harum reprehenderit minima vel. Officiis molestiae maxime animi deserunt magni neque totam, voluptatum enim expedita saepe aut vero modi rerum. Eius commodi ex sint esse magni beatae ullam blanditiis quasi, aliquid eos officia, quisquam aperiam vel sit laborum!
        </p>
        



          



        </div>
        </div>
        <div class="row">
         
          <div class="col-md-12">
         <div class="gallery">
           
         
          <div class="frame">
            <a href="img/history/DSC_0201.JPG" data-lightbox="roadtrip"><img class="image-sm" src="img/history/DSC_0201.JPG" alt="Фото храмаФото храма"></a>
          </div>
          <div class="frame">
            <a href="img/history/DSC_0215.JPG" data-lightbox="roadtrip"><img class="image-sm" src="img/history/DSC_0215.JPG" alt="Фото храма"></a>
          </div>
          <div class="frame">
           <a href="img/history/DSC_0243.JPG" data-lightbox="roadtrip"><img class="image-sm" src="img/history/DSC_0243.JPG" alt="Фото храма"></a>
          </div>
          
          <div class="frame">
           <a href="img/history/DSCN0328.JPG" data-lightbox="roadtrip"><img class="image-sm" src="img/history/DSCN0328.JPG" alt="Фото храмаФото храма"></a> 
          </div>
          <div class="frame">
            <a href="img/history/IMG_0826.JPG" data-lightbox="roadtrip"><img class="image-sm" src="img/history/IMG_0826.JPG" alt="Фото храмаФото храма"></a>
          </div>
          <div class="frame">
            <a href="img/history/IMG_1201.JPG" data-lightbox="roadtrip"><img class="image-sm" src="img/history/IMG_1201.JPG" alt="Фото храмаФото храма"></a>
          </div>

           
           
           
           
           
           
           
           </div>
      </div>
        </div>

</div>
</div> -->
</div>
       
  </div>
</div>
</div>
    
   
    

<partial src="_footer.html"></partial>

  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
<script src="js/lightbox.min.js"></script>
 <script>
    lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true,

        'alwaysShowNavOnTouchDevices': true
    })
    </script>
<script src="js/main.js"></script>
</body>

</html>