<partial src="_header.html" title="Храм Святой Преподобной мученицы Великой Княгини Елисаветы<"></partial>


<body>
<div class="content">
    <div class="menu-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a href="index.html"><img src="img/logo.png" alt="Храм Святой Преподобномученицы Елисаветы"></a>
                </div>
                <div class="col-md-9 ">
                <partial src="_menu.html"></partial>

                </div>
            </div>
        </div>
    </div>
    <div class="info-wrapper" id="info-wrapper">
        <div class="container">
            <div class="row">

                <div class="school-block">
                <div class="col-md-6">
                     <h2 class="wow fadeInLeft">Воскресная школа</h2>
                     <img class="school wow fadeInUp" src="img/school/_73O2975(2).jpg" alt="Воскресная школа">
                     <p>Приглашаем Ваших детей от 4 до 12 лет в Воскресную школу при храме Святой Великой Преподобной мученицы Великой Княгини Елисаветы. 
Телефон: +7 (917) 585-89-64</p>
<a href="more-1.html" class="btn-more">Подробнее</a>
                </div>
                   <div class="col-md-6">
                    <h2 class=" wow fadeInRight">Воскресная школа для людей с проблемами слуха</h2>
                    <img class="school wow fadeInUp" src="img/school/_73O2975(2).jpg" alt="Воскресная школа">
                    <p>Приглашаем людей с проблемами слуха в Воскресную школу при храме Святой Великой Преподобной мученицы Великой Княгини Елисаветы. 
Телефон: +7 (917) 585-89-64</p>
<a href="more-2.html" class="btn-more">Подробнее</a>
                    </div>
                   <!--  <div class="col-md-4">
                        <img class="wow fadeInLeft" src="img/1.jpg" alt="Икона Святой Преподобномученицы Елисаветы">
                    </div>
                    <div class="col-md-8">
                        <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Свой там, великий, последний не речью наш. Предупредила до вскоре инициал себя своего. Продолжил языкового, ведущими грамматики строчка переписали пустился! Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Свой там, великий, последний не речью наш. Предупредила до вскоре инициал себя своего. Продолжил языкового, ведущими грамматики строчка переписали пустился!</p>
                        <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. </p>
                    </div> -->
                </div>
            </div>
            <!-- <div class="row">
                <div class="info-block">
                    <div class="col-md-8">
                        <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Оксмокс ведущими выйти продолжил, свою предупредила точках курсивных о это переписали переписывается щеке скатился, то пустился ему. Последний, сих, даль!</p>
                        <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Оксмокс ведущими выйти продолжил, свою предупредила точках курсивных о это переписали переписывается щеке скатился, то пустился ему. Последний, сих, даль!</p>
                        <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Оксмокс ведущими выйти продолжил, свою предупредила точках курсивных о это переписали переписывается щеке скатился, то пустился ему. Последний, сих, даль!</p>
                    </div>
                    <div class="col-md-4">
                        <img src="img/3.jpg" class="wow fadeInRight" alt="Икона Святой Преподобномученицы Елисаветы">
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <!-- <div class="school-news"> -->
    <!-- <div class="my-img"></div> -->
  <!--   <div class="news">
        <div class="container">
            <h2 class="wow fadeInUp">Новости воскресной школы</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="image"><a href="#"><img src="img/1.jpg" /></a></div>
                    <a class="title" href="#">Lorem ipsum dolor sit amet.</a>
                    <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Послушавшись имени жаренные знаках наш до продолжил пустился журчит выйти безорфографичный вершину запятых собрал.</p>
                </div>
                <div class="col-md-4">
                    <div class="image"><a href="#"><img src="img/2.jpg" /></a></div>
                    <a class="title" href="#">Lorem ipsum dolor sit amet.</a>
                    <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Послушавшись имени жаренные знаках наш до продолжил пустился журчит выйти безорфографичный вершину запятых собрал.</p>
                </div>
                <div class="col-md-4">
                    <div class="image"><a href="#"><img src="img/3.jpg" /></a></div>
                    <a class="title" href="#">Lorem ipsum dolor sit amet.</a>
                    <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Послушавшись имени жаренные знаках наш до продолжил пустился журчит выйти безорфографичный вершину запятых собрал.</p>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="image"><a href="#"><img width="380" height="250" src="img/1.jpg" /></a></div>
 <div class="image"><a href="#"><img width="380" height="250" src="img/2.jpg" /></a></div>
 <div class="image" ><a href="#"><img width="380" height="250" src="img/3.jpg" /></a></div>
 -->
    <!--   <div class="container">
        <div class="row">
            <h2 class="wow bounceInUp">НОВОСТИ ВОСКРЕСНОЙ ШКОЛЫ</h2>
            <div class="col-md-4">
            <div class="image">
                
           
            <a class="img-link" href="#">
                <img  class=" wow fadeInDown" src="img/1.jpg" alt="Воскресная школа при храме Святой Преподобномученицы Елисаветы">
            </a>
             </div>
                
            </div>
            <div class="col-md-4">
            <a class="img-link" href="#">
                <img  class=" wow fadeInDown" src="img/1.jpg" alt="Воскресная школа при храме Святой Преподобномученицы Елисаветы">
                 </a>
            </div>
            <div class="col-md-4">
            <a class="img-link" href="#">
                <img  class=" wow fadeInDown" src="img/1.jpg" alt="Воскресная школа при храме Святой Преподобномученицы Елисаветы">
                 </a>
            </div>
        </div>
    </div>
    </div>
    </div> -->
    <!-- <div class="news">
      <div class="container">
      <h2>Новости</h2>
        <div class="row">
          <div class="col-md-4">
            <img src="img/3.jpg" alt="">
            <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Послушавшись имени жаренные знаках наш до продолжил пустился журчит выйти безорфографичный вершину запятых собрал.</p>
           <a data-toggle="modal" data-work='event-1' href="#events" class="more">Подробнее</a>

          </div>
          <div class="col-md-4">
            <img src="img/3.jpg" alt="">
            <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Послушавшись имени жаренные знаках наш до продолжил пустился журчит выйти безорфографичный вершину запятых собрал.</p>
             <a data-toggle="modal" data-work='event-2' href="#events" class="more">Подробнее</a>

          </div>
          <div class="col-md-4">
            <img src="img/3.jpg" alt="">
            <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Послушавшись имени жаренные знаках наш до продолжил пустился журчит выйти безорфографичный вершину запятых собрал.</p>
            <a data-toggle="modal" data-work='event-3' href="#events" class="more">Подробнее</a>

          </div>
        </div>
      </div>
    </div>
     -->
     </div>
    <partial src="_footer.html"></partial>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
     <!-- <script src="js/jquery-3.2.1.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
     <script>
    new WOW().init();
    </script>
    <script src="js/main.js"></script>
</body>

</html>