doctype html
html
	head
		title SilkHost
		meta(charset="utf-8")

		
		meta(name='theme-color', content='#ffffff')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" type="text/css" href="css/font-awesome.min.css")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="css/owl.carousel.min.css")
		link(rel="stylesheet" type="text/css" href="css/owl.theme.default.min.css")
		link(rel="stylesheet" type="text/css" href="css/fonts.css")
		link(rel="stylesheet" type="text/css" href="css/grid.css")
		link(rel="stylesheet" type="text/css" href="css/header.min.css")
		link(rel="stylesheet" type="text/css" href="css/main.min.css")
		
		

	body#top-scroll(lang="ru")
		header
			div.call-block
				.container
					.row
						.col-xs-12
							div.call-block__info
								div.call
									a.btn-white(href="tel:+03129971622") Call us
									span 312 997 16 22
								div.login
									a(href="") Login
									a(href="") Signup
			div.logo-block
				.container
					.row
						.col-xs-12
							div.logo
								a(href="")
									h1
										img(src="img/logo.png" alt="SilkHost")
								
								ul.header-menu__list
									li
										a(href="") Domain Registration
									li
										a(href="") Web-Hosting
									li
										a(href="") VPS Hosting
									li
										a(href="") Dedicated Servers
									li
										a(href="") Email
									li
										a(href="") Security
								a.menu-link(href="#menu" data-toggle="dropdown")
									span
			div.sm-menu-list.collapse.navbar-collapse(data-dropdown-in="flipInX" data-dropdown-out="flipOutX")
				ul.header-menu__list
					li
						a(href="") Domain Registration
					li
						a(href="") Web-Hosting
					li
						a(href="") VPS Hosting
					li
						a(href="") Dedicated Servers
					li
						a(href="") Email
					li
						a(href="") Security
				div.call-block__info
					div.call
						a.btn-white(href="tel:+03129971622") Call us
						span 312 997 16 22
					div.login
						a(href="") Login
						a(href="") Signup
			div.header__form(style="background: url('img/bg.png')")
				.container
					.row
						.col-xs-12
							form
								input.blue(type="search" name="search" placeholder="Enter Your Domain Name")
								button(type="submit")
									i.fa.fa-long-arrow-right
						
						.col-xs-12
							div.flex
								ul.header__list
									li
										i.fa.fa-circle
										#[span.bold com] Rs 999
									li
										i.fa.fa-circle
										#[span.bold net] Rs 999
									li
										i.fa.fa-circle
										#[span.bold info] Rs 999
									li
										i.fa.fa-circle
										#[span.bold online] Rs 999
								ul.header__menu
									li
										a.active(href="") Bulk Domain
									li
										a(href="") Search Transfer Domain
									li
										a(href="") Domain With Server
			
			
		
						