doctype html
html(lang='en')
	include templates/head
	body#top-scroll(lang="en")
		div.wrapper
			div.middle
				section.main-description
					include templates/header
					div.info
						h2 Roam Freely in 193+ Countries
						p.description Unlock a whole new level of savings and worldwide connectivity. With Pix World Sim, no matter your budget and lifestyle, enjoy unlimited messaging and calls.
						a.btn(href='#') Get My Pix World Sim
							img(src='./img/icons/btn-arrow.png' alt='Get My Pix World Sim')
				section#work-details.work-details
					div.work-details-about
						h2 World Sim Card That Saves Money and Hassle
						p.description Pix World is a universal prepaid sim card which allows users to communicate freely with their smartphones and/or tablets whether in your community or traveling abroad.
						p.description Active in over 193 countries worldwide, Pix World sim users comfortably make and receive phone calls, send and receive sms texts, and/or access data on the worldwide web at a fraction of the cost.
					div.work-details-more
						h4 Here’s how it works:
						ul.icons
							li.icon
								img(src='./img/icons/icon-1.png' alt='No monthly fees for chat. Add PayGo talk, text, or data at anytime.')
								p No monthly fees for chat. Add PayGo talk, text, or data at anytime.
							li.icon
								img(src='./img/icons/icon-2.png' alt='Pre loaded with unlimited global messaging and incoming calls.')
								p Pre loaded with unlimited global messaging and incoming calls.
							li.icon
								img(src='./img/icons/icon-3.png' alt='Save Up to 120% on Roaming Charges')
								p Save Up to 120% on Roaming Charges
							li.icon
								img(src='./img/icons/icon-4.png' alt='Sim-card activation gets simple and easy ')
								p Sim-card activation gets simple and easy
						a.btn(href='#') Get My First Wireless Sim For $29.99
							img(src='./img/icons/btn-arrow.png' alt='Get My Pix World Sim')
				section#roaming.roaming
					h2 Wireless Freedom. No Matter The Destination.
					p.description Pix World Sim has partnered with over 150 global 4G/3G network operators’ and now we are giving it all back at a fraction of the cost ensuring superior connectivity in your country of stay and/or on your next travel destination abroad.
					div.roaming-map
						div.cities
							p.title Choose your destination and check the rates
							div.cities-group
								div.city-group
									span.list-title north america
									ul.continent
										li.city United States
										li.city Canada
									span.list-title Asia
									ul.continent
										li.city China
										li.city Japan
										li.city Thailand
								div.city-group
									span.list-title europe
									ul.continent
										li.city Belgium
										li.city Denmark
										li.city France
										li.city Germany
										li.city Italy
										li.city Netherlands
										li.city Norway
										li.city Poland
										li.city Portugal
										li.city Russia
										li.city Spain
										li.city United Kingdom
							


						img.map(src='./img/map.png' aly='Wireless Freedom. No Matter The Destination.' title='Wireless Freedom. No Matter The Destination.')
						div.city-info
							div.select-city
								span.list-title AND OTHER 180+ COUNTRIES
								select
									option United States
									option Spain
									option United Kingdom
									option Portugal
								span.input-description Just type in the location you are travelling and see if we provide service there.	
							ul.details-list
								li.details-item
									img.details-icon(src='./img/icons/outgoing.png' alt=' Outgoing calls')
									span.price $1.25
									span.description Outgoing calls
								li.details-item
									img.details-icon(src='./img/icons/incoming.png' alt=' Incoming Calls')
									span.price ¢0.95
									span.description Incoming Calls
								li.details-item
									img.details-icon(src='./img/icons/sms.png' alt=' SMS')
									span.price $1.25
									span.description SMS
								li.details-item
									img.details-icon(src='./img/icons/data.png' alt=' Data')
									span.price ¢0.25/mb
									span.description Data
				section#features.features
					h2 Live the Wireless Dream
					p.description Why wait to land in a foreign country, hunt for a local dealer and use foreign exchange to buy a local SIM card when the same service is offered by Pix World Sim. We are feature-loaded to make your travel plans hassle-free.
					div.benefits
						div.tabs-header
							//- object.tab-header(type='image/svg+xml' data='./img/icons/3.svg' style=' :hover {color: white}')
							//- 	img(src='./img/icons/3.svg')
							//- object.tab-header(type='image/svg+xml' data='./img/icons/3.svg')
							//- 	img(src='./img/icons/3.svg')
							//- object.tab-header(type='image/svg+xml' data='./img/icons/3.svg')
							//- 	img(src='./img/icons/3.svg')
							
							//- img.tab-header(src='./img/icons/1.png')
							//- img.tab-header(src='./img/icons/2.png')
							//- img.tab-header(src='./img/icons/3.png')
							//- img.tab-header(src='./img/icons/1.png')
							div.tabs
								img.tab-header(src='./img/icons/1.png')
								//- img.tab-header.decor(src='./img/icons/1-decor.png')
							div.tabs
								img.tab-header(src='./img/icons/2.png')
								//- img.tab-header.decor(src='./img/icons/2-decor.png')
							div.tabs
								img.tab-header(src='./img/icons/3.png')
								//- img.tab-header.decor(src='./img/icons/3-decor.png')
							//- img.tab-header(src='./img/icons/1.png')
							//- img.tab-header(src='./img/icons/2.png')
							//- img.tab-header(src='./img/icons/3.png')
							//- div.tab-header
								img(src='./img/icons/1.png')
								//- img.decor(src='./img/icons/1-decor.png')
							//- div.tab-header
								img(src='./img/icons/2.png')
								//- img.decor(src='./img/icons/2-decor.png')
							//- div.tab-header
								img(src='./img/icons/3.png')
								//- img.decor(src='./img/icons/3-decor.png')
						div.tab-content.fade
							ul
								li.tab-content-item
									h4 Universal Prepaid SIM Card
									p.description Stay connected in 193+ countries and regions of the world
								li.tab-content-item
									h4 Maximum Compatibility Around the World
									p.description Pix World Sim works with 150+ Global Network Operators
								li.tab-content-item
									h4 Stay Connected During Cruise Trips
									p.description Pix World Sim covers 220+ cruise ships
						div.tab-content.fade
							ul
								li.tab-content-item
									h4 Free Messaging
									p.description Unlimited Facebook Messenger, WhatsApp, Viber, Line and more
								li.tab-content-item
									h4 Free incoming Calls
									p.description Receive free incoming calls in 193+ countries
								li.tab-content-item
									h4 Mobile Miles
									p.description Earn bonus miles/points with airline and/or hotel of your choice
						div.tab-content.fade
							ul
								li.tab-content-item
									h4 Voice Mail
									p.description Exchange personal voice messages worldwide
								li.tab-content-item
									h4 Global Data Roaming
									p.description 3G/4G data coverage in 193+ countries
								li.tab-content-item
									h4 Technical Support
									p.description Pix World provides 24 x 7 live technical support
								


					div.video
						h3 Meet Charlie, A Globe-Trotter <br> Who Travels Smartly
						img(src='./img/video.jpg' alt=' Meet Charlie, A Globe-Trotter Who Travels Smartly')
				section#testimonial.testimonial
					div.more-info
						img.card(src='./img/card.png' alt='Get My Pix World Sim')
						div.info
							h2 Got Your Travel Plans Lined Up?
							p.description Now’s the time to be a savvy traveler
							a.btn(href='#') Get My Pix World Sim
								img(src='./img/icons/btn-arrow.png' alt='Get My Pix World Sim')
					div.slider-block
						h3 Testimonials
						div.slider
							div.wrap
								div.prev
									img(src='./img/icons/arrow-left.png' alt='arrow-left')
									img.decor(src='./img/icons/right-decor.png' alt='arrow-left')
								div.fade.slider-item
									div.slider-description
										p I am a busy traveler and rarely have time to scout for a new sim card in a new country every time. Pix World Sim makes international travel really easy, simple and affordable. It’s nice to know that I don’t have to worry about excessive roaming charges and I can roam wirelessly on the cheap.
									div.author
										div.author-name
											img(src='./img/person-1.png' alt='Mic Hallows')
											span Mic Hallows
										img.shape(src='./img/icons/shape.png')
								div.fade.slider-item
									div.slider-description
										p If you’re someone who values your time and likes being connected without having to pay roaming charges, then Pix World Sim is a great steal! You’ll receive free incoming calls, texts and even chat for free on WhatsApp, Facebook Messenger, Viber and so on.
									div.author
										div.author-name
											img(src='./img/person-2.png' alt='Arthur Toh')
											span Arthur Toh
										img.shape(src='./img/icons/shape.png')
								div.fade.slider-item
									p I have purchased Pix World Sim just weeks ago and I have used it in various countries with ease. Activating Pix World Sim was instant - in just two steps and you’ll be connected. As I visited 5 countries as well as international cruise ships, it was amazing how there was excellent coverage all the time.
									div.author
										div.author-name
											img(src='./img/person-3.png' alt='Meghan O’Hearn')
											span Meghan O’Hearn
										img.shape(src='./img/icons/shape.png')
							
								div.next
									img(src='./img/icons/arrow-left.png' alt='arrow-right')
									img.decor(src='./img/icons/right-decor.png' alt='arrow-right')
						div.slider-dots
							div.dot.dot-active
							div.dot
				section#faq.faq
					h3 Frequently Asked Questions
					ul.faq-list
						li.faq-item
							div.faq-info
								span.number 1
								p.question How do I activate the SIM card?
							div.more-info
								p.title Will the Pix World SIM card work in my handset and/or tablet?
								p.description The Pix World SIM card is a Triple-SIM, which means it will work in any unlocked device and fits all phones any unlocked device and fits all phones
								a.more(href="#") View Full Answer
						li.faq-item
							div.faq-info
								span.number 2
								p.question How do I activate the SIM card?
							div.more-info
								p.title Will the Pix World SIM card work in my handset and/or tablet?
								p.description The Pix World SIM card is a Triple-SIM, which means it will work in any unlocked device and fits all phones any unlocked device and fits all phones
								a.more(href="#") View Full Answer
						li.faq-item
							div.faq-info
								span.number 3
								p.question How long does my credit or SIM card last?
							div.more-info
								p.title Will the Pix World SIM card work in my handset and/or tablet?
								p.description The Pix World SIM card is a Triple-SIM, which means it will work in any unlocked device and fits all phones any unlocked device and fits all phones
								a.more(href="#") View Full Answer
						li.faq-item
							div.faq-info
								span.number 4
								p.question Can I use the SIM card in tablets, iPads, Modems, and Routers?
							div.more-info
								p.title Will the Pix World SIM card work in my handset and/or tablet?
								p.description The Pix World SIM card is a Triple-SIM, which means it will work in any unlocked device and fits all phones any unlocked device and fits all phones
								a.more(href="#") View Full Answer
						li.faq-item
							div.faq-info
								span.number 5
								p.question Where can I find the rates?
							div.more-info
								p.title Will the Pix World SIM card work in my handset and/or tablet?
								p.description The Pix World SIM card is a Triple-SIM, which means it will work in any unlocked device and fits all phones any unlocked device and fits all phones
								a.more(href="#") View Full Answer
						li.faq-item
							div.faq-info
								span.number 6
								p.question What will my phone number be?
							div.more-info
								p.title Will the Pix World SIM card work in my handset and/or tablet?
								p.description The Pix World SIM card is a Triple-SIM, which means it will work in any unlocked device and fits all phones any unlocked device and fits all phones
								a.more(href="#") View Full Answer

		figure.scroll-top(style="transform: scale(0)")
			a.slowly(href="#header" data-scroll)
				i.fa.fa-chevron-up
		
		include templates/footer