.wrapper {
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.middle {
    width: 100%;
    
    
}

.middle:after {
    display: table;
    clear: both;
    content: '';
}

.main-wrapper {
    width: 100%;
    
}
