/*=================
header
=================*/

.header {
    &__info {
        background-color: $decor-color;
        height: inherit;
    }
    &__contacts {
        margin-top: 2rem;
        margin-bottom: 1rem;
        width: 73%;
        display: inline-block;
        text-transform: uppercase;
        font: 400 1.5rem/1.8rem $main-font;
        vertical-align: top;
    }
    &__name {
        display: inline-block;
        width: 27%;
        vertical-align: top;
        padding-bottom: 2rem;
        /*padding-right: 1rem;*/
        img {
            padding-right: 1rem;
            float: left;
        }
    }
    &__phone {
        display: inline-block;
        width: 46%;
        vertical-align: top;
        /*padding-right: 2rem;*/
        a {
            font: 400 3rem/4.1rem $main-font;
            color: $main-color;
            text-decoration: none;
            &:hover {
                color: $main-color;
                text-decoration: underline;
            }
            ;
        }

        img {
            padding-right: 1rem;
            float: left;
        }
    }
    &__callback {
        display: inline-block;
        color: $decor-color;
        background-color: $main-color;
        font: 700 1.3rem/1.5rem $main-font;
        text-decoration: underline;
        padding: 1rem;
        cursor: pointer;
        &:hover {
            text-decoration: none;
            transition: all 1.3s;
        }
        ;
    }
    &-menu {
        background-color: $main-color;
        &__list {
            font-size: 0;
        }
        &__item {
            display: inline-block;


            a {
                color: $light-color;
                text-transform: uppercase;
                font: 400 1.6rem/2rem $decor-font;
                text-decoration: none;
                transition: all 0.3s;
                display: block;
                padding: 2rem;

                &:hover {
                    text-decoration: none;
                    background-color: #027bec;
                    color: $decor-color;
                }
                ;
            }
        }
    }
}

.logo {
    display: inline-block;
    padding-right: 2rem;
    margin-top: 2rem;
}



.menu-list {
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -100vw;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0.8;
    &-active {
        right: 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
        text-align: center;
        li {
            width: 100vw;
        }
        a {
            line-height: 4;
            letter-spacing: 5px;
            font: 400 1.6rem/3rem $decor-font;
            color: #fff;
            display: block;
            width: 100%;
            -webkit-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s;
            text-transform: uppercase;
            text-decoration: none;
            &:hover {
                text-decoration: none;
                background-color: rgba(255, 255, 255, 0.4);
            }
            ;
        }
    }
}

.menu-link {
    z-index: 55;
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 30px;
    display: none;

    span,
    span:before,
    span:after {
        display: block;
        height: 5px;

        width: 40px;
        background-color: #fff;
        position: absolute;
        left: 50%;
        margin-left: -5px;
        top: 50%;
        margin-top: -1px;
    }
    span:before {
        content: '';
        margin-top: -15px;
        margin-left: -20px;
        transition: all 0.2s;
    }
    span:after {
        content: '';
        margin-top: 9px;
        transition: all 0.2s;
         margin-left: -20px;
    }
    &_active span {
        background-color: transparent;
        &:before {
            -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
            margin-top: 0;
        }
        ;
        &:after {
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
            margin-top: 0;
        }
        ;
    }
}








/*=================
END header
=================*/


/*MEDIA*/

@media (max-width: 1024px) {
    .header {
        &__contacts {
            width: 100%;
        }

        &-menu {
            &__list {
                padding: 0;
            }
            &__item {
                padding: 2rem 1rem;
                a{
                    padding: 0;
                    font-size: 1.4rem;
                }
            }
        }
    }
}

@media (max-width:768px) {
    .header {
        &-menu {
            display: none;
        }

        .menu-link {
            display: block;
        }
    }
}

@media (max-width:414px) {
    .header {
        &__name {
            width: 100%;
            display: block;
            margin: 0 auto;
            text-align: center;
            img {
                float: none;
            }
            span {
                vertical-align: top;
                line-height: 3.2rem;
            }
        }
        &__phone {
            width: 100%;
            display: block;
            margin: 0 auto;
            text-align: center;
            a {
                vertical-align: top;
            }

            img {
                float: none;
            }
        }
        &__callback {
            display: block;
            width: 16rem;
            margin: 0 auto;
            margin-top: 1rem;
        }
    }
}

@media (max-width:320px) {
    .menu-link {
    
    
   
    top: 1px;
    right: 20px;
  
}
    .header {
        &__name {
            padding-bottom: 0.5rem;
        }
        &__phone {

            a {
                font-size: 2rem;
            }
        }
    }
}